---
title: "13wk-51: 아이스크림(type무의미) / 자료분석(Autogluon)"
author: "최규빈"
date: "12/01/2023"
bibliography: ref.bib
draft: false
---

# 1. 강의영상

{{<video ???? >}}

# 2. Imports

In [3]:
#!pip install autogluon.eda

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
#---#
from autogluon.tabular import TabularPredictor
import autogluon.eda.auto as auto
#---#
import warnings
warnings.filterwarnings('ignore')

# 3. Data

In [2]:
df_train = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/icesales_train.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/icesales_test.csv')

In [3]:
df_train.head()

   temp     type      sales
0  19.4    choco  64.807407
1   0.9  vanilla  25.656697
2   7.4  vanilla  34.756650
3   4.5    choco  27.265442
4  21.1    choco  70.606946

# 4. 적합

# 5. 해석 및 시각화

## A. y의 분포, (X,y)의 관계 시각화

## B. 중요한 설명변수

## C. 관측치별 해석